* { box-sizing: border-box; background-color: #DCBA8C}

#barraleft {
  background-color: #BC8844;
  width: 3%;
  height: 920px;
  float: left;
}

#titulo {
  width: 90%;
  height: 30px;
  float: right;
  text-align: center;
  color: black;
  font-size: 180%;
  font-weight: bold;
}

#foto2 {
  float: right;
  margin-top: -75px;
}

#texto {
  width: 85%;
  height: 100px;
  font-size: 13px;
  margin-left: 120px;
  border-style: dotted;
  border-color: #BC8844;
}

.año1 {
  margin-left: 120px;
  margin-top: 10px;
  font-size: 2.5em;
  font-weight: bold;
}

.frase1 {
  width: 85%;
  height: 100px;
  font-size: 13px;
  margin-left: 120px;
  border-color: #BC8844;
  margin-top: 20px;
}

.año2 {
  margin-left: 120px;
  margin-top: -40px;
  font-size: 2.5em;
  font-weight: bold;
}

.frase2 {
  width: 85%;
  height: 100px;
  font-size: 13px;
  margin-left: 120px;
  border-color: #BC8844;
  margin-top: 20px;
}

.año3 {
  margin-left: 120px;
  margin-top: 35px;
  font-size: 2.5em;
  font-weight: bold;
}

.frase3 {
  width: 85%;
  height: 100px;
  font-size: 13px;
  margin-left: 120px;
  border-color: #BC8844;
  margin-top: 20px;
}

.año4 {
  margin-left: 120px;
  margin-top: 75px;
  font-size: 2.5em;
  font-weight: bold;
}

.frase4 {
  width: 85%;
  height: 100px;
  font-size: 13px;
  margin-left: 120px;
  border-color: #BC8844;
  margin-top: 5px;
}
